*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --tree: 5%;
  --grass: 5%;
  --weed: 5%;
  --mold: 5%;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #e4e4e4;
  background-image: url(../img/green_field.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: #6c98c5;
  font-weight: 600;
}

header {
  margin-top: 2rem;
  align-items: center;
}
header h1 {
  border-bottom: 1px solid #6c98c5;
  letter-spacing: 2px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 600px;
  padding: 1em;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
main .search-bar {
  padding: 1em 1em 0 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}
main .search-bar input {
  margin-bottom: 0;
  width: 50%;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  outline: none;
  color: #6c98c5;
}
main .search-bar input::-moz-placeholder {
  color: inherit;
}
main .search-bar input:-ms-input-placeholder {
  color: inherit;
}
main .search-bar input::placeholder {
  color: inherit;
}
main .search-bar .clear-btn {
  display: none;
  padding: 0.6em;
  font-weight: 200;
  color: #6c98c5;
}
main .search-bar .clear-btn:focus {
  outline: none;
}
main .location-text {
  font-size: 2em;
  color: #6c98c5;
}

.display-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.display-wrap .pollen-display {
  border-radius: 25px;
  width: 100%;
  min-height: 450px;
  margin: 0 1em 1em 1em;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 1px #6c98c5;
  color: #6c98c5;
}
.display-wrap .pollen-display .pollen-heading {
  letter-spacing: 2px;
  margin: 0;
}
.display-wrap .pollen-display .pollen-value {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.display-wrap .pollen-display .pollen-value .pollen_value_text {
  margin: 0;
  font-size: 6rem;
}
.display-wrap .pollen-display .pollen-value p {
  margin: 0;
}
.display-wrap .color-box {
  height: 50px;
  width: 100%;
  position: relative;
}
.display-wrap .color-box .color {
  position: absolute;
  top: 2px;
  left: 10px;
  height: 90%;
  width: 93%;
  background: #00ff00;
  background: linear-gradient(90deg, #00ff00 0%, #ff0000 90%);
  background: -moz-linear-gradient(90deg, #00ff00 0%, #ff0000 90%);
  border-radius: 10px;
}
.display-wrap .color-box .indicator {
  position: absolute;
  top: 0;
  left: 2%;
  height: 100%;
  width: 2px;
  background-color: #fff;
}
.display-wrap .color-box .tree-indicator {
  top: 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: tree-slider;
          animation-name: tree-slider;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes tree-slider {
  0% {
    left: 2%;
  }
  100% {
    left: var(--tree);
  }
}
@keyframes tree-slider {
  0% {
    left: 2%;
  }
  100% {
    left: var(--tree);
  }
}
.display-wrap .color-box .weed-indicator {
  top: 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: weed-slider;
          animation-name: weed-slider;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes weed-slider {
  0% {
    left: 2%;
  }
  100% {
    left: var(--weed);
  }
}
@keyframes weed-slider {
  0% {
    left: 2%;
  }
  100% {
    left: var(--weed);
  }
}
.display-wrap .color-box .grass-indicator {
  top: 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: grass-slider;
          animation-name: grass-slider;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes grass-slider {
  0% {
    left: 2%;
  }
  100% {
    left: var(--grass);
  }
}
@keyframes grass-slider {
  0% {
    left: 2%;
  }
  100% {
    left: var(--grass);
  }
}
.display-wrap .color-box .mold-indicator {
  top: 0;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: mold-slider;
          animation-name: mold-slider;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes mold-slider {
  0% {
    left: 2%;
  }
  100% {
    left: var(--mold);
  }
}
@keyframes mold-slider {
  0% {
    left: 2%;
  }
  100% {
    left: var(--mold);
  }
}

footer {
  margin-top: 2em;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.7);
}
footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6c98c5;
  padding: 2em 2em 0;
}
footer .footer-container .react-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.3em;
}
footer .footer-container .react-text span {
  padding-bottom: 1em;
}
footer .footer-container .social-icons a {
  padding: 0.3em;
}
footer .footer-container .social-icons:focus {
  outline: none;
}

@media (max-width: 800px) {
  .search-bar {
    padding: 0;
  }
  .display-wrap {
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 3rem;
  }
  .display-wrap .pollen-display {
    width: 94% !important;
  }
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 200px;
  }
  footer .footer-container {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
  nav h1 {
    margin: 0.5em 0 0 0;
  }
}/*# sourceMappingURL=index.css.map */