@import './variables';

// base styles
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// setting variables to change animation indicator
:root {
  --tree: 5%;
  --grass: 5%;
  --weed: 5%;
  --mold: 5%;
}

*{
  scroll-behavior: smooth;
}

body{
  background-color: #e4e4e4;
  background-image: url(../img/green_field.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a{
  text-decoration: none;
  color: $primaryColor;
  font-weight: 600;
}

// nav bar section
header{
  margin-top: 2rem;
  align-items: center;

  h1{
    border-bottom: 1px solid $primaryColor;
    letter-spacing: 2px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
  }
}

// main / pollen forecast display section
main{
  height: fit-content;
  min-height: 600px;
  padding: 1em;
  border-radius: 25px;
  background-color: rgba(0,0,0,.6);
  box-shadow: rgba(0,0,0,.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  // location search section
  .search-bar{
    padding: 1em 1em 0 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;

    input{
      margin-bottom: 0;
      width: 50%;
      border-radius: 25px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: rgba(0,0,0,.6);
      border: none;
      outline: none;
      color: $primaryColor;
      &::placeholder{
        color: inherit;
      }
    }

    // only displays when input is in focus
    .clear-btn{
      display: none;
      padding: .6em;
      font-weight: 200;
      color: $primaryColor;

      &:focus{
        outline: none;
      }
    }
  }

  .location-text{
    font-size: 2em;
    color: $primaryColor;
  }
}

// pollen display section
.display-wrap{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // flex-direction: column;
  
  .pollen-display{
    border-radius: 25px;
    width: 100%;
    min-height: 450px;
    margin: 0 1em 1em 1em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 5px 1px $primaryColor;
    color: $primaryColor;

    // name of each pollen type
    .pollen-heading{
      letter-spacing: 2px;
      margin: 0;
    }

    // pollen value number
    .pollen-value{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      .pollen_value_text{
        margin: 0;
        font-size: 6rem;
      }

      p{
        margin: 0;
      }

      
    }

      
  }
  

    // pollen category type display
    // .tree-box{
    //   // color: green;
    //   // text-shadow: 0 0 4px green;
    //   margin: 0;
      
    // }
  
    // .weed-box{
    //   // color: green;
    //   // text-shadow: 0 0 4px green;
    //   margin: 0;
    // }
  
    // .grass-box{
    //   // color: green;
    //   // text-shadow: 0 0 4px green;
    //   margin: 0;
    // }
  
    // .mold-box{
    //   color: red;
    //   // text-shadow: 0 0 4px green;
    //   margin: 0;
    // }
  

  // color graphic display
  .color-box{
    height: 50px;
    width: 100%;
    position: relative;

    .color{
      position: absolute;
      top: 2px;
      left: 10px;
      height: 90%;
      width: 93%;
      // max-width: 250px;
      background: #00ff00;
      background: linear-gradient(90deg,#00ff00 0%, #ff0000 90%);
      background: -webkit-linear-gradient(90deg,#00ff00 0%, #ff0000 90%);
      background: -moz-linear-gradient(90deg,#00ff00 0%, #ff0000 90%);
      border-radius: 10px;
    }

    // animated indicator
    .indicator{
      position: absolute;
      top: 0;
      left: 2%;
      height: 100%;
      width: 2px;
      background-color: #fff;
    }

    .tree-indicator{
      top: 0;
      animation-duration: 3s;
      animation-name: tree-slider;  
      animation-fill-mode: forwards;
    }

    @keyframes tree-slider{
      0%{
        left: 2%;
      }
      100%{
        left: var(--tree);
      }
    }

    .weed-indicator{
      top: 0;
      animation-duration: 3s;
      animation-name: weed-slider;  
      animation-fill-mode: forwards;
    }

    @keyframes weed-slider{
      0%{
        left: 2%;
      }
      100%{
        left: var(--weed);
      }
    }

    .grass-indicator{
      top: 0;
      animation-duration: 3s;
      animation-name: grass-slider;  
      animation-fill-mode: forwards;
    }

    @keyframes grass-slider{
      0%{
        left: 2%;
      }
      100%{
        left: var(--grass);
      }
    }

    .mold-indicator{
      top: 0;
      animation-duration: 3s;
      animation-name: mold-slider;  
      animation-fill-mode: forwards;
    }

    @keyframes mold-slider{
      0%{
        left: 2%;
      }
      100%{
        left: var(--mold);
      }
    }
  }

}

// footer section
footer{
  margin-top: 2em;
  height: 110px;
  background-color: rgba(0, 0, 0, .7);
  
 

  .footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primaryColor;
    padding: 2em 2em 0;

    
  
    .react-text{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: .3em;
      // padding-bottom: 1.5rem;
     
      span{
        padding-bottom: 1em;
      }
    }

    .social-icons{
      a{
        padding: .3em;
        // margin-bottom: .5em;
      }      

      &:focus{
        outline: none;
      }
    }
  }

 
}


// media queries

@media (max-width: 800px){
 

  .search-bar{
    padding: 0;
  }
  
  .display-wrap{
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 3rem;

    .pollen-display{
      width: 94% !important;
    }
  }

  footer{
    height: fit-content;
    min-height: 200px;

    .footer-container{
      flex-direction: column;
    }
  }
  
}


  


@media (max-width: 500px){
  nav{
    flex-direction: column;

    h1{
      margin: .5em 0 0 0;
    }

  }
}