@import './variables';

// base styles
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*{
  scroll-behavior: smooth;
}

body{
  background-color: #e4e4e4;
  background-image: url(../img/green_field.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

a{
  text-decoration: none;
  color: $primaryColor;
  font-weight: 600;
}

// nav bar section
header{
  margin-top: 2rem;
  align-items: center;

  nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    
    h1{
      letter-spacing: 2px;
      padding-left: .5em;
      margin-top: .3em;
      color: #fff;
    }

    
  }
}

// main / pollen forecast display section
main{
  height: fit-content;
  min-height: 600px;
  padding: 1em;
  border-radius: 25px;
  background-color: rgba(0,0,0,.6);
  box-shadow: rgba(0,0,0,.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  // location search section
  .search-bar{
    padding: 1em 1em 0 1em;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;

    input{
      margin-bottom: 0;
      width: 50%;
      border-radius: 25px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: rgba(0,0,0,.6);
      border: none;
      outline: none;
      color: $primaryColor;
      &::placeholder{
        color: inherit;
      }
    }

    // only displays when input is in focus
    .clear-btn{
      padding: .4em;
      font-weight: 200;
      color: $primaryColor;
      border: none;
      text-transform: capitalize;

      &:focus{
        outline: none;
      }
    }
  }

  .location-text{
    font-size: 2em;
    color: $primaryColor;
  }
}

// pollen display section
.display-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  // pollen group sections
  .tree-weed-wrap, .grass-mold-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  
  .pollen-display{
    border-radius: 25px;
    width: 100%;
    min-width: 220px;
    min-height: 450px;
    margin: 0 1em 1em 1em;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 5px 1px $primaryColor;
    color: $primaryColor;

    // name of each pollen type
    .pollen-heading{
      letter-spacing: 2px;
      margin: 0;
    }

    // pollen value number
    .pollen-value{
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      .pollen_value_text{
        margin: 0;
        font-size: 6rem;
      }

      p{
        margin: 0;
      }

      
    }

      
  }
  


  // color graphic display
  .color-box{
    height: 50px;
    width: 100%;
    position: relative;

    .color{
      position: absolute;
      top: 2px;
      left: 10px;
      height: 90%;
      width: 93%;
      background: #00ff00;
      background: linear-gradient(90deg,#00ff00 0%, #ff0000 90%);
      background: -webkit-linear-gradient(90deg,#00ff00 0%, #ff0000 90%);
      background: -moz-linear-gradient(90deg,#00ff00 0%, #ff0000 90%);
      border-radius: 10px;
    }

    // animated indicator
    .indicator{
      position: absolute;
      top: 0;
      left: 2%;
      height: 100%;
      width: 2px;
      background-color: #fff;
    }

  }

}

// footer section
footer{
  margin-top: 2em;
  height: 110px;
  background-color: rgba(0, 0, 0, .7);
  
 

  .footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $primaryColor;
    padding: 2em 2em 0;

    
  
    .react-text{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: .3em;

      span{
        padding-bottom: 1em;

        .App-logo {
          height: 5rem;
        }

        .App-logo {
          animation: App-logo-spin infinite 20s linear;
        }

        .App-link {
          color: #61dafb;
        }

        @keyframes App-logo-spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }
    }

    .social-icons{
      a{
        padding: .3em;
        // margin-bottom: .5em;
      }      

      &:focus{
        outline: none;
      }
    }
  }

  .accuweather-logo{
    height: 1.5rem;
  }
 
}


// media queries

@media (max-width: 1020px){
  .display-wrap{
    flex-direction: column;

    .pollen-display{
      min-width: 350px !important;
    }
  }

}

@media (max-width: 800px){
  .search-bar{
    padding: 0;
    
    input{
      width: 75% !important;
    }
  }
  
  .display-wrap{
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 3rem;

    .pollen-display{
      min-width: 250px !important;
      
    }
  }

  footer{
    height: fit-content;
    min-height: 200px;

    .footer-container{
      flex-direction: column;
    }
  }
  
}


  @media (max-width: 600px){

    body{
      transform: rotate(90 deg);
    }
    .display-wrap{
  
      .tree-weed-wrap, .grass-mold-wrap{
        flex-direction: column;
      }
    }
  }


@media (max-width: 500px){
  header{
    margin: 0;
    padding: 0%;
  }
}